#stories > article {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

#stories > article >  div > img {
    margin: 5px 5px;
}

#stories > article .post_content {
    display: flex;
    align-items: flex-start;
}

#stories > article .post_content > img {
    flex-shrink: 0;
    width: 200px;
}

#stories > article .post_votes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
}


@media only screen  and (max-width : 700px) {
    #stories > article .post_content > img {
        width: 120px;
    }
}

@media only screen  and (max-width : 500px) {
    /* Reduce image size but also limit amount of characters by reducing height */
    #stories > article .post_content > img {
        width: 60px;
    }
    #stories > article .post_content > p {
        max-height: 6ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    #stories > article .post_content > img {
        width: 60px;
    }
}
