    @import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');
     :root {
        --bg-primary: #007bff;
        --bg-primary-light: #0099ff;
        --bg-dark: #343a40;
        --bg-light: #f8f9fa;
    }
    
    * {
        font-family: 'Roboto', sans-serif;
    }
    
    body {
        margin: unset;
        /* it seems all browsers set a margin to the body ...*/
        font-size: 1rem;
    }
    
    main {
        height: calc(100% - 5rem - 100px);
        padding: 0 1rem;
    }
    /**
 * NAVBAR
 */
    
    nav.navbar {
        background-color: var(--bg-primary);
        display: flex;
        align-items: center;
        height: 2rem;
        padding: 1.5rem 1rem;
    }
    
    .navbar.left {
        margin-left: 0.5rem;
    }
    
    .navbar.right {
        margin-left: auto;
        margin-right: 0.5rem;
    }
    
    .navbar.title {
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        color: white;
        font-size: 2rem;
    }
    
    .navbar.user {
        border-radius: 0.25rem;
        border-style: solid;
        border-color: white;
        border-width: 1px;
        padding: 0.5rem;
        color: white;
        text-decoration: none;
        transition: background-color, 0.5s;
    }
    
    .navbar.user:hover {
        background-color: #0099ff;
    }
    /*
 * FORM GROUPS
 */
    
    .form-group {
        margin: 0.5rem 0;
    }
    /*
 * FOOTER
 */
    
    footer {
        height: 100px;
        background-color: var(--bg-dark);
        color: white;
        width: 100%;
    }
    
    footer h1 {
        margin: unset;
    }
    /* Style the links inside the pill navigation menu */
    
    .pill-nav a {
        display: inline-block;
        color: black;
        text-align: center;
        padding: 14px;
        text-decoration: none;
        font-size: 17px;
        border-radius: 0px 0px 5px 5px;
    }
    /* Change the color of links on mouse-over */
    
    .pill-nav a:hover {
        background-color: #ddd;
        color: black;
    }
    /* Add a color to the active/current link */
    
    .pill-nav a.active {
        background-color: dodgerblue;
        color: white;
    }
    
    @media only screen and (max-width: 600px) {
        body {
            margin: auto;
            display: grid;
            grid-template-columns: 4fr 1fr;
            grid-template-areas: "header1" "menu1" "section1" "aside1" "footer1";
            width: 60em;
            background-color: #EDEFF0;
        }
        header {
            grid-area: header1;
            display: grid;
            grid-template-areas: "yas1" "user1";
        }
        title {
            grid-area: yas1;
        }
        .navbar.right {
            grid-area: user1;
        }
    }
    
    textarea {
        width: 80%;
        height: 50px;
    }