#post_view {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    background-color: var(--bg-light);
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
}

/**
 * VOTES
 */
#post_view .votes{
    background-color: #ebebeb;
    color: #999999;
    padding: 0 .3rem;
    margin: unset;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#post_view .votes svg {
    fill: #999999;
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: block;
}

#post_view svg.votes.upvote:hover, .post_preview svg.votes.downvote:hover {
    transition: opacity 0.5s;
    opacity: 0.7;
}
#post_view svg.votes.upvote.active {
    fill: rgb(0, 161, 27);
}

#post_view svg.votes.downvote.active {
    fill: rgb(180, 0, 0);
}

/**
 * CONTENT
 */

#post_view .content {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    min-height: 300px;
}
#post_view .content h1 {
    margin: unset;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: 300;
}

#post_view .content p {
    margin: 0.5rem 0;
    text-align: justify;
}

/**
 * COMMENTS
 */
#comments article {
    margin: 0.5rem 0;
    padding: 0.25rem 0.5rem;
    display: flex;
    flex-direction: row;
}

#comments article img{
    width: 48x;
    height: 48px;
    margin: 0.25rem 0.5rem;
    border-radius: 5px;
}

#comments .header {
    font-size: 0.9rem;
    margin: 0.25rem 0;
    color: black;
    font-weight: normal;
}
#comments .header .author {
    font-weight: 600;
    color: var(--bg-primary);
}

#comments .header .date {
    color: grey;
}