.hide {
    display: none;
    animation: fadeIn 1s;
}

#profile-data {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

/* #posts, #comments {
    margin-left: auto;
    margin-right: 1.5rem;
} */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

button>span {
    vertical-align: top;
}

.btnEdit {
    width: 150px;
    position: relative;
    height: 30px;
}

.icon {
    position: absolute;
    left: 18px;
    top: 9px;
    font-size: 30px;
}

input.editable {
    /*display: none;*/
    color: grey;
}

.avatar {
    border-radius: 50%;
}

.profile .show.avatar {
    text-align: center;
}

div.profile {
    max-width: 400px;
    background-color: var(--bg-light);
    border-radius: 0.25rem;
    padding: 4.5rem 2rem;
}

.profile .prof {
    text-align: center;
}

#profile-email:before {
    content: " *";
    font-size: small;
    color: red;
}

.profile input {
    border-color: initial;
}

.profile.edit.password {
    display: inline-flex;
}

.avatar.form {
    display: flex;
}

.profile.hide.edit {
    display: grid;
    grid-template-areas: "passEdit avatarEdit" "passShow avatarShow";
}

#passEdit {
    grid-area: passEdit;
}

#pwdEdit {
    grid-area: passShow;
}

.insideAvatarEdit {
    grid-area: avatarEdit;
}

#imgEdit {
    grid-area: avatarShow;
}

input[type=file] {
    text-align: left
}