.hide {
    display: none;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.btnEdit {
    width: 150px;
    position: relative;
    height: 30px;
}

.icon {
    position: absolute;
    left: 18px;
    top: 9px;
    font-size: 30px;
}

input.editable {
    /*display: none;*/
    color: grey;
}

.avatar {
    border-radius: 50%;
}

#profile-email:before {
    content: " *";
    font-size: small;
    color: red;
}

.profile input {
    border-color: initial;
}

#input-name::after {
    content: " após";
}

.profile.edit.password {
    display: inline-flex;
}