.hide {
    display: none;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

button>span {
    vertical-align: top;
}

.btnEdit {
    width: 150px;
    position: relative;
    height: 30px;
}

.icon {
    position: absolute;
    left: 18px;
    top: 9px;
    font-size: 30px;
}

input.editable {
    /*display: none;*/
    color: grey;
}

.avatar {
    border-radius: 50%;
}

div.profile.show.avatar {
    text-align: center;
}

div.profile {
    max-width: 400px;
    margin: auto;
    background-color: var(--bg-light);
    border-radius: 0.25rem;
    padding: 4.5rem 2rem;
}

.profile.prof {
    text-align: center;
}

#profile-email:before {
    content: " *";
    font-size: small;
    color: red;
}

.profile input {
    border-color: initial;
}

.profile.edit.password {
    display: inline-flex;
}

.avatar.form {
    display: flex;
}

.profile.password.hide {
    grid-area: pass;
}

.profile.avatar.hide {
    grid-area: avatar;
}

.profile.hide.edit {
    display: grid;
    grid-template-areas: "pass avatar";
}