body {
    background-color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: bold;
    height: 48px;
    color: black;
    font-family: Verdana;
    text-align: center;
}

#login,
#signup {
    position: absolute;
    top: 25%;
    right: 0;
    left: 0;
}


#login input,
#signup input {
    display: block;
}

body>header {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    position: relative;
    top: 0;
    width: 100%;
    height: 60px;
}

body>footer {
    position: absolute;
    text-align: left;
    left:0;
    bottom: 0;
    width: 100%;
    height: 60px;
    font-size: 50%;
}

body>footer p{
    margin-left: 10pt;
}


form {
    display: inline-block;
}


body input[type="text"],
body input[type="password"] {
    display: inline;
    font-size: 24px;
    font-weight: bold;
    height: 48px;
    background-color: lightblue;
    color: black;
    font-family: Verdana;
    border: 2px solid #456879;
    border-radius: 10px;
    text-align: center;
}


input[type="text"],
input[type="password"] {
    background-color: cadetblue;
}

input[type="button"] {
    font-size: 0;
    font-weight: bold;
    height: 32px;
    width: 105px;
    color: black;
    background-color: cadetblue;
    font-family: Verdana;
    text-align: center;
    vertical-align: middle;
    border-color: black;
    border: none;
   
}

label {
    display: inline-block;
    text-align: left;
}

/*
.form {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: "label1 label1 label1"
        "label2 label2 label2"
        "label3 label3 label3"
        "none none button";
}

.label1 {
    grid-area: label1;
}

.label2 {
    grid-area: label2;
}

.label3 {
    grid-area: label3;
}

.LblBtn {
    grid-area: button;
}*/